<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Total Gym</name>
<icon src="gym.png" gap:platform="android" gap:density="lpdi" />
<gap:splash src="splash.png" gap:platform="android" gap:density="lpdi" />
<gap:splash src="splash.png" gap:platform="android" gap:density="mpdi" />
<gap:splash src="splash.png" gap:platform="android" gap:density="hpdi" />
<gap:splash src="splash.png" gap:platform="android" gap:density="xhpdi" />
<description>
Escorts en Valencia
</description>

<author href="https://example.com" email="you@example.com">
Valenciadeluxe
</author>

</widget>
